.marquee {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee img {
    animation: marquee 7s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.more-button:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 8px;
    transition: 0.5s;
}

.more-button:hover {
    padding-right: 24px;
    padding-left: 12px;
}

.more-button:hover:after {
    opacity: 1;
    right: 10px;
}

.donate {
    background-color: #70c174;
}
.donate:hover {
    box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px $cyan;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.btn-hover {
    background: linear-gradient(to right, #bef3c0 50%, rgb(250, 249, 249) 50%);
    background-size: 200% 100%;
    background-position: right;
}
.btn-hover:hover {
    background-position: left;
    transition: ease-in-out 0.5s;
    color: rgb(5, 42, 9);
}
/* team card hover */
.card-hover {
    cursor: pointer;
    position: relative;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    &:after,
    &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 0.5s;
    }
    &:after {
        top: -1px;
        left: -1px;
        border-top: 2px solid #07320d;
        border-left: 2px solid #07320d;
    }
    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 2px solid #07320d;
        border-right: 2px solid #07320d;
    }
    &:hover {
        padding: 5px 5px;
        font-size: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background: #e1fce5;
        color: white;
        &:before,
        &:after {
            width: 100%;
            height: 50%;
        }
    }
}
.hover-shadow {
    display: inline-block;
    position: relative;
    transition-duration: $defaultDuration;
    transition-property: transform;

    &:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0.35) 0%,
            rgba(0, 0, 0, 0) 80%
        );
        transition-duration: $defaultDuration;
        transition-property: transform opacity;
    }

    &:hover {
        transform: translateY(-6px);
        animation-name: hover;
        animation-duration: 1.5s;
        animation-delay: $defaultDuration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &:before {
            opacity: 0.4;
            transform: translateY(6px);
            animation-name: hover-shadow;
            animation-duration: 1.5s;
            animation-delay: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}

.btn-4 {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #70c174 0%, #bde5bf 74%);
}
.btn-4:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #bde5bf 0%, #70c174 74%);
}
.hover-shadow {
    display: inline-block;
    position: relative;
    transition-duration: defaultDuration;
    transition-property: transform;

    &:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0.35) 0%,
            rgba(0, 0, 0, 0) 80%
        );
        transition-duration: $defaultDuration;
        transition-property: transform opacity;
    }

    &:hover {
        transform: translateY(-6px);
        animation-name: hover;
        animation-duration: 1.5s;
        animation-delay: $defaultDuration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &:before {
            opacity: 0.4;
            transform: translateY(6px);
            animation-name: hover-shadow;
            animation-duration: 1.5s;
            animation-delay: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}

/* .card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url("{{ asset('frontend/images/team-2.png') }}");
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}
.card {
    margin-right: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1, 1.1);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__by {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #ad7d52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
} */

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrap {
    animation: scroll 6s linear infinite;
    display: flex;
    gap: 10px;
    width: calc(200px * 6);
    height: 100%;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
.img:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}
.up:hover {
    position: absolute;
    top: 70%;
    left: 8px;   
    transition: top 3s ease;
    color: white;
}
.bg:hover {
    height: 40%;
    transition: top 5s ease;
}
